body {
    display: flex;
    justify-content: center;  /* horizontal center */
    height: 100vh;            /* full viewport height */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    background-color: tomato;
}