body{
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 1200px;
}
.item1{
    display: flex;
    justify-content: center;
    background-color: red;
    flex-grow: 1;
}
.item2{
    display: flex;
    justify-content: center;
    background-color: blue;
    flex-grow: 2;
}
